
<a target="_blank" href="https://api.whatsapp.com/send?phone=573174785093&amp;text=Hola!%20quiero%20saber%20más%20de%20Prevenir%20Express!" class="btn-flotante">
  <h4 class="text-white mai-logo-whatsapp"></h4>
</a>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=139031563597380&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
  <div id="inicio" class="pagina-inicio bg-image img-inicio ">
    <div class="container ">
      <div class="row "></div>

    <div class="container bannerGrande">
      <div class="row" style="padding: 10% 0 50px 0">
        <div class="col-md-12">
             <img  width="30%" src="./assets/images/prevenir/uni_neg.png" />
        </div>
      </div><br>
      <div class="row flip-boxes">
        <div class="col-md-3 col-sm-4 col-8 flip-box">
          <div class="front">
            <div class="content text-center" >
              <div class="cardy" style="width: 15rem;  background: #f7ffeb00;">
                <img class="card-img-top w-80" style="width: 200px" src="../../../assets/images/prevenir/circulo1.png" alt="Card image cap">
                <div class="cardy-body">
                  <h4>Previsión Funeraria</h4>
                </div>
              </div>
              <span class="click-for-more">
              </span>
            </div>
          </div>
          <div class="back">
            <div class="content text-center">
              <b>Nuestro objetivo es desarrollar y promover la importancia de la Previsión Funeraria en Colombia.</b>
              <a target="_blank" href="http://www.prevenirexpress.com/inicio" > <br>
                <button class=" btn botones btn-outline-info">Visitar</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-6 flip-box">
          <div class="front" >
            <div class="content text-center" >
              <div class="cardy" style="width: 15rem;  background: #f7ffeb00;">
                <img class="card-img-top w-80" style="width: 200px" src="../../../assets/images/prevenir/circulo2.png" alt="Card image cap">
                <div class="cardy-body">
                  <a href="http://citas.prevenirexpress.com/">
                    <h4>Descuentos Médicos</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="back">
            <div class="content text-center">
              <b>Una plataforma que permite ofrecer sus servicios médicos con descuentos para todos los usuarios.</b>
              <a target="_blank" href="http://citas.prevenirexpress.com/#/info-noticias" ><br>
                <button class=" btn botones btn-outline-info">Visitar</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-6 flip-box">
          <div class="front">
            <div class="content text-center">
              <div class="cardy" style="width: 15rem;  background: #f7ffeb00;"> <img class="card-img-top w-80" style="width: 200px" src="../../../assets/images/prevenir/circulo3.png" alt="Card image cap">
                <div class="cardy-body">
                  <a href="http://optica.prevenirexpress.com/">
                    <h4 >Prevenir Óptica</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="back">
            <div class="content text-center">
              <b>Somos una empresa dedicada al cuidado oftalmológico de nuestros pacientes, ofreciendo un servicio oportuno y de gran calidad.</b>
              <a target="_blank" href="http://optica.prevenirexpress.com/" ><br>
                <button class=" btn botones btn-outline-info">Visitar</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-6 flip-box">
          <div class="front">
            <div class="content text-center">
              <div class="cardy" style="width: 15rem;  background: #f7ffeb00;"> <img class="card-img-top " style="width: 200px" src="../../../assets/images/prevenir/circulo4.png" alt="Card image cap">
                <div class="cardy-body">
                  <h4 >Prevenir Fundación</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="back">
            <div class="content text-center">
              <b>Próximamente</b><br>
              <a target="_blank" href="http://citas.prevenirexpress.com/#/info-noticias" >
                <button class=" btn botones btn-outline-info">Visitar</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row movil imgFondo">
      <div class="row">
        <div class="col-md-12"> <br><img style="display: block; margin: auto; padding: 50px 0 50px 0; " width="70%" src="./assets/images/prevenir/logo_prev_express.png" /> </div>
        <div class="col-md-4">
          <div>
            <h2 class="">Unidades de negocios</h2> </div>
        </div>
      </div>
      <div class="col-md-4" style="margin: 30px">
        <div class="jumbotron " (click)="descuentos()" style="user-select: none"> <img src="../../../assets/images/prevenir/circulo2.png" width="70%">
          <h2 style="font-size: xx-large;">Descuentos médicos</h2> </div>
      </div>
      <div class="col-md-4" style="margin: 30px">
        <div class="jumbotron" (click)="prevenirFundacion()" style="user-select: none"> <img src="../../../assets/images/prevenir/circulo1.png" width="70%">
          <h2 style="font-size: xx-large;">Previsión Exequial</h2> </div>
      </div>
      <div class="col-md-4" style="margin: 30px">
        <div class="jumbotron" (click)="optica()" style="user-select: none"> <img src="../../../assets/images/prevenir/circulo3.png" width="70%">
          <h2 style="font-size: xx-large;">Prevenir Óptica</h2> </div>
      </div><br><br>
    </div>


<!-- Facebook Pixel Code -->
<script>
  ! function(f, b, e, v, n, t, s) {
    if(f.fbq) return;
    n = f.fbq = function() {
      n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    };
    if(!f._fbq) f._fbq = n;
    n.push = n;
    n.loaded = !0;
    n.version = '2.0';
    n.queue = [];
    t = b.createElement(e);
    t.async = !0;
    t.src = v;
    s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '139031563597380');
  fbq('track', 'PageView');
  </script>
